<h2>Available drones</h2>
<ul>
    {{#each drones}}
    <li>{{name}} <a href='drones/{{id}}/edit'>edit drone</a>
        <form action="/drones/{{id}}/delete" method="POST">
            <button type="submit">delete</button></form>
    </li>
    {{/each}}
</ul>