<h2>Update the drone</h2>
<form action='/drones/{{id}}/edit' method="POST">
    {{!-- <label for='name'>Name: </label> --}}
    <input type="text" name="name" value={{name}}>
    {{!-- <label for='propellers'>Propellers: </label> --}}
    <input type="number" name="propellers" value={{propellers}}>
    {{!-- <label for='maxSpeed'>Max speed: </label> --}}
    <input type="number" name="maxSpeed" value={{maxSpeed}}>
    <button type="submit">Submit</button>
</form>