<h2>Create a new post</h2>

<form action="/post-create" method="POST">
  <label>Title:
    <input type="text" name="title">
  </label>
  <br>
  <label>Content:
    <input type="text" name="content">
  </label>

  <button type="submit"> Create the post </button>
</form>