<nav>
    <a href="/home/ironhacker">Ironhackers</a>
</nav>

<h2>This is the Random Page</h2>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Aliquet eget sit amet tellus cras adipiscing enim. Et tortor at risus viverra adipiscing. Sagittis orci a
    scelerisque purus semper. Platea dictumst vestibulum rhoncus est pellentesque. Aliquet risus feugiat in ante metus.
    Semper risus in hendrerit gravida rutrum. Quis eleifend quam adipiscing vitae. Iaculis eu non diam phasellus
    vestibulum
    lorem sed. Nec ultrices dui sapien eget mi proin sed. Tellus in hac habitasse platea dictumst. Ac felis donec et
    odio
    pellentesque diam volutpat commodo sed. Ultrices tincidunt arcu non sodales neque sodales ut. Malesuada fames ac
    turpis
    egestas maecenas.

    Faucibus vitae aliquet nec ullamcorper sit amet risus. Odio morbi quis commodo odio. Mi bibendum neque egestas
    congue.
    Eu augue ut lectus arcu bibendum. Sed turpis tincidunt id aliquet risus feugiat in. Risus nullam eget felis eget
    nunc
    lobortis. Vel eros donec ac odio tempor orci. At urna condimentum mattis pellentesque id nibh. Vel pharetra vel
    turpis
    nunc. Ut sem viverra aliquet eget sit. Amet commodo nulla facilisi nullam vehicula. Quis hendrerit dolor magna eget
    est
    lorem. Non arcu risus quis varius quam quisque id diam vel. Volutpat est velit egestas dui. At risus viverra
    adipiscing
    at in tellus integer feugiat. Hac habitasse platea dictumst vestibulum rhoncus. Interdum varius sit amet mattis
    vulputate enim nulla aliquet porttitor.
</p>


<img src="https://media.giphy.com/media/rOqkW1ECPlUZi/giphy.gif" alt="random image" />