<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>My first view</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <nav>
        <a href="/home/ironhacker">Ironhackers</a>
        <a href="/home/blah">Blah</a>
        <a href="/random/random-page">Random</a>
    </nav>

    {{{body}}}

</body>

</html>