<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{title}}</title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>

    <body>
        <nav>
            <div>
                <a href="/">Home</a>
                <a href="/movies">Movies</a>
                <a href="/casts">Casts</a>
                {{#if user}}
                    <form action="/auth/logout" method="POST">
                        <button>Logout</button>
                    </form>
                    <a href="/auth/secret"> Secret page </a>
                {{else}}
                    <a href="/auth/signup">Signup</a>
                    <a href="/auth/login">Login</a>
                {{/if}}
            </div>
            <div>
                <form action="/search" method="get">
                    <label for="searchQueryInput"><input id="searchQueryInput" name="query" type="text"
                            placeholder="The Shinning"><button>Search</button></label>
                </form>
            </div>
            <div></div>
        </nav>

        {{{body}}}

        <script src="/javascripts/script.js"></script>
    </body>

</html>